body{
  padding: 10px;
}
.banner{
  height: 600px;
  border-radius: 20px;
  position: relative;
}

.section1, .section4, .section6{
  margin: 0px;
}
.section5, .section7, .section8,
.section9, .section10, .section11 {
  margin: 0px 7.5rem;
}

.section1{
  height: 272.19px;  
}

.section4{
  height: 949.22px;
}

.section5{
  height: 749px;
}

.section6{
  height: 565.83px;
}

.section7{
  height: 592.59px;
}

.section8{
  height: 599.38px;
}

.section9{
  height: 574.78px;
}

.section10{
  height: 345px;
}

.section11{
  height: 694.38px;
}
