.section2{
    height: 620.56px;
    margin: 0px 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .left_s2{
        height: 505.56px;
        width: 48%;
        position: relative;
        .vectors{
            position: absolute;
            display: block;
            height: 30px;
            width: 40px;
            border: 10px solid transparent;
            border-right-color: #F8F7F0;
            border-bottom-color: #F8F7F0;
            z-index: 3;
            &:nth-of-type(1){
                right: 215px;
                top: 485px;
                border-bottom-right-radius: 43px;
            }
            &:nth-of-type(2){
                right: -10px;
                top: 303px;
                border-bottom-right-radius: 43px;
            }
        }
        .big-box{
            height: 100%;
            width: 100%;
            border-radius: 15px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .small-box2{
            position: absolute;
            height: 184.59px;
            width: 223.63px;
            right: 0;
            bottom: 0;
            top: 323px;
            background: #F8F7F0;
            border-top-left-radius: 30px;
            .inner2{
                height: 164.59px;
                width: 203.63px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .3rem;
                border-radius: 30px;
                background: #EDDD5E;
                position: relative;
                left: 20px;
                right: 0px;
                top: 20px;
                div:nth-child(1) {
                    height: 83px;
                    width: 158.63px;
                    display: flex;
                    align-items: center;
                    padding: 13px;
                    border-bottom: 1px solid rgba(64, 74, 61, 0.2);
                    span{
                        font-size: 2rem;
                        font-weight: 600;
                        top: 20%;
                        
                    }
                    span:nth-child(1){color: #5B8C51;}
                    h1{
                        font-size: 3.5rem;
                        font-weight: 700;
                        margin: 10px 0px;
                    }
                    span:nth-child(3){
                        position: relative;
                        top: -12px;}
                }
                div:nth-child(2) {
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }
    .right{
        width: 48%;
        height: 545.56px;
        padding: 10px;
        color: #404A3D;
        font-weight: 500;

        .tiny{
                display: block;
                width: 30.5px;
                height: 30px;
                line-height: 10.5px;
                background-color: white;
                padding: 15px;
                width: 140.33px;
                height: 30px;
                border-radius: 30px;
                text-align: center;
                display: flex;
                gap: 6px;
                align-items: center;
                justify-content: center;
                margin: 0px;
                font-weight: 700;
                img{
                    width: 11.5px;
                    height: 11px;
                }
            }
        .one {
            .text p:nth-child(1) span{
                display: block;
            }
            .text p:nth-of-type(1){
                width: 605;
                height: 95px;
                font-size: 35px;
                margin: 15px 0px 0px 0px;
            }
            p:nth-child(2){
                width: 476.92px;
                height: 76.8px;
                line-height: 25.6px;
                margin: 0px;
            }
        }
        .two{
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
            span{
                display: block;
                height: 70px;
                width: 70px;
            }
            span img{
                width: 100%;
                height: 100%;
            }
            div{
                height: 205px;
            }
            div p{
                font-size: 13px;
            }
        }
    }
}

.section3{
    height: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-x: hidden;
    background-color: transparent;
    div{
        height: 128px;
        width:  auto;
        padding: 15px;
        font-size: 3rem;
        font-weight: 1000;
        color: #5B8C51;
        display: flex;
        align-items: center;
        justify-items: center;
        gap: 10px;
        span{
            color: transparent;
            -webkit-text-stroke: #5B8C51 1px;
        }
    }
}
